/*-----------new styles--------*/
h2 > a {
  color: #000;
}
/*-----top opis-----*/
.opis_cont {
  margin-top: 20px;
}
.opis_img > img {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.opis_text {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*-----cont-----*/
.cont {
  max-width: 1127px;
  margin: auto;
}
.contein_conten {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 5px;
  margin-left: 5px;
}
.contein_conten > h2 {
  font-size: 27px;
  width: auto;
}
/*--------slider--------*/
.sitbar {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 24px;
  padding: 20px;
  background-color: #fff;
  margin-left: 5px;
}
.sitbar > ul {
  margin: 0;
  padding: 0;
}
.sitbar > ul > li {
  margin-bottom: 8px;
}
.sitbar > ul > li > a {
  color: #000;
  position: relative;
  line-height: 17px;
  transition: 0.5s;
}
.sitbar > ul > li > a:hover {
  text-decoration: none;
  color: #2E5C5C;
}
.sitbar > ul > li > a:after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #2E5C5C;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.sitbar > ul > li > a:hover:after {
  width: 92%;
}
/*--slid---*/
.slider_slick {
  background-color: #fff;
}
.slid_slick {
  border: 1px solid #eee;
  transition: 0.5s;
}
.slid_slick:hover{
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.slid_slick_img {
  width: 100%;
}
.slid_slick_img > img {
  width: 100%;
}
.slid_slick > a {
  margin-left: 15px;
  margin-top: 5px;
}
.slid_slick > h1 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: -3px;
  font-weight: bold;
  font-size: 25px;
}
.slid_slick > p {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.slid_slick > button {
  display: block;
  margin: auto;
  padding: 7px 50px 7px 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #336633;
  color: #fff;
  margin-bottom: 15px;
  transition: 0.5s;
}
.slid_slick > button:hover {
  background-color: #274F27;
}
/*slick button*/
.contein_conten > a {
  display: block;
  color: #000;
  font-size: 24px;
  margin-bottom: -25px;
}
.featured-products-list {
  border-left: 1px solid #F1F1F1;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}
.product-category-header > a {
  display: block;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}
/*-----media-----*/
@media screen and (max-width: 767px) {
  .contein_conten > h2 {
    text-align: center;
  }
}
/*-------home page-------
-------------------------
-----------------------*/
/*---home-slider---*/
.wrap {
  max-width: 1050px;
  margin: auto;
}
.home-slider {
  width: 100%;
  margin-bottom: 40px;
}
.home-slide {
  width: 100%;
}
.home-slide > img {
  width: 100%;
}
/*------conteiner-home------*/
.category-home {
  margin-bottom: 20px;
  background-color: #fff;
}
.category-head {
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 10px;
}
.conteiner-category {
  display: flex;
  justify-content: space-between;
}
/*sitebar*/
.category-sitebar {
  width: 25%
}
.category-sitebar > ul {
  margin: 0;
  padding: 0;
}
.category-sitebar > ul > li {
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
}
.category-sitebar > ul > li > a {
  display: block;
  color: #000;
  transition: 0.5s;
}
.category-sitebar > ul > li > a:hover {
  text-decoration: none;
  color: #2E5C5C;
}
.category-sitebar > ul > li > a:after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #2E5C5C;
  transition: 1s;
}
.category-sitebar > ul > li > a:hover:after {
  width: 100%;
}
/*slid*/
.category-slid {
  border-right: 1px solid #eee;
}
.category-inner-slider {
  width: 75%;
}
.categ-slid-img {
  width: 100%;
}
.categ-slid-img > img {
  width: 100%;
}
/**/
.categ-slid-cont > h3 {
  font-weight: bold;
  margin-bottom: -4px;
  margin-left: 15px;
  margin-right: 15px;
}
.categ-slid-cont > p {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.categ-slid-cont > button {
  display: block;
  margin: auto;
  padding: 7px 50px 7px 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #336633;
  color: #fff;
  margin-bottom: 15px;
  transition: 0.5s;
}
/**/
@media screen and (max-width: 790px) {
  .category-sitebar {
    display: none;
  }
  .category-inner-slider {
    width: 100%;
  }
}
/*---------------------
-----Под катигории-------
-----------------------*/
/*----сайтбар и слайдер-----*/
.tovar-sitebar-conteiner {
  display: flex;
  overflow-x: hidden;
}
/*slid*/
.tovar-slider {
  width: 80%;
}
.tovar-slid > img {
  width: 100%;
}
/*-----каталог товаров------*/
.tovar-cont {
  background-color: #fff;
}
.tovar_conteiner {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin-bottom: 20px;
}
.tovar-head > h1 {
  display: block;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
}
.tovar {
  flex-grow: 1;
  flex-basis: 250px;
  border-right: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 10px;
}
.tovar-img {
  width: 100%;
}
.tovar-img > img {
  width: 100%;
}
/**/
.tovar-content > a {
  margin-left: 15px;
  margin-right: 15px;
  margin-right: 15px;
}
.tovar-content > h3 {
  font-weight: bold;
  margin-bottom: -4px;
  margin-left: 15px;
  margin-right: 15px;
}
.tovar-content > p {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.tovar-content > button {
  display: block;
  margin: auto;
  padding: 7px 50px 7px 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #336633;
  color: #fff;
  margin-bottom: 15px;
  transition: 0.5s;
}