/*-----------new styles--------*/
a {
  /*display: block;*/
}
/*-----top opis-----*/
.opis_cont {
  margin-top: 20px;
}
.opis_img > img {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.opis_text {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*-----cont-----*/
.cont {
  max-width: 1127px;
  margin: auto;
}
.contein_conten {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 5px;
  margin-left: 5px;
}
.contein_conten > h2 {
  font-size: 27px;
  width: auto;
}
/*--------slider--------*/
.sitbar {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 24px;
  padding: 20px;
  background-color: #fff;
  margin-left: 5px;
}
.sitbar > ul {
  margin: 0;
  padding: 0;
}
.sitbar > ul > li {
  margin-bottom: 8px;
}
.sitbar > ul > li > a {
  /*color: #000;*/
  /*position: relative;*/
  /*line-height: 17px;*/
  /*transition: 0.5s;*/
}
.sitbar > ul > li > a:hover {
  text-decoration: none;
  color: #2E5C5C;
}
.sitbar > ul > li > a:after {
  content: '';
  width: 0%;
  height: 1px;
  background-color: #2E5C5C;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.sitbar > ul > li > a:hover:after {
  width: 92%;
}
/*--slid---*/
.slider_slick {
  background-color: #fff;
}
.slid_slick {
  border: 1px solid #eee;
  transition: 0.5s;
}
.slid_slick:hover{
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.slid_slick_img {
  width: 100%;
}
.slid_slick_img > img {
  width: 100%;
}
.slid_slick > a {
  /*margin-left: 15px;*/
  /*margin-top: 5px;*/
}
.slid_slick > h1 {
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: -3px;
  font-weight: bold;
  font-size: 25px;
}
.slid_slick > p {
  display: block;
  margin-left: 15px;
  margin-bottom: 30px;
}
.slid_slick > button {
  display: block;
  margin: auto;
  padding: 7px 50px 7px 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #336633;
  color: #fff;
  margin-bottom: 15px;
  transition: 0.5s;
}
.slid_slick > button:hover {
  background-color: #274F27;
}
/*slick button*/
/*-----media-----*/
@media screen and (max-width: 767px) {
  .contein_conten > h2 {
    text-align: center;
  }
}