/*.product-grid {
  width: 100%;
  background-color: #ffffff;
  margin-top: 30px;
}
.featured-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.header-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.header-product h2{
  padding-left: 20px;
}
.header-product span {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
}
.nav-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.prew a {
  display: block;
  box-sizing: border-box;
  border-left: 1px solid #cccccc;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: black;
  width: 50px;
  text-align: center;
}

.prew a:hover {
  text-decoration: none;
}

.next a {
  display: block;
  box-sizing: border-box;
  border-left: 1px solid #cccccc;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  color: black;
  width: 50px;
  text-align: center
}

.next a:hover {
  text-decoration: none;
}
.featured-product {
  flex-grow: 1;
  flex-basis: 200px;
  margin: 0 auto;
  line-height: 1;
}

.featured-product-menu {
  width: 266px;
  border-left: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  line-height: 2;
}

.featured-product img {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.featured-products-list {
  max-width: 280px;
  float: left;
  border-left: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  outline: none;
  overflow: hidden;
  position: relative;
}
.featured-product-menu h3{
  line-height: 1;
}

.art-raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.art {
  font-size: 14px;
  color: #cccccc;
  padding-right: 5px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 1.2em;
  float: left;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.2em;
  color: #cccccc;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before
.rating.act span:before{
  content: "\2605";
  position: absolute;
  color: #f0c25b;
}

.product-category {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}

.product-category a {
  text-decoration: none;
  color: #006699;
  font-weight: bold;
}

.product-price {
  padding-left: 10px;
  padding-right: 10px;
}

.product-price p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 35px;
  margin-top: 0;
}

.product-price p span {
  font-size: 15px;
}

.product-no-price {
  padding-left: 10px;
  font-size: 24px;
  color: #cccccc;
  margin-bottom: 5px;
  padding-top: 35px;
  margin-top: 0;
}

.available-prod {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  color: #cccccc;
}

.available {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}

.btnsubmit {
  width: 167px;
  height: 30px;
  display: block;
  border: 1px solid #336633;
  background-color: #336633;
  color: #ffffff;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background 0.5s, color 0.5s;
  transition: background 0.5s, color 0.5s;
}

.btnsubmit:hover {
  background-color: #ffffff;
  border: 1px solid #336633;
  color: #336633;
}

.featured-product-menu {
  padding-left: 20px;
  padding-right: 20px;
}

.featured-product-menu li a {
  text-decoration: none;
  font-size: 13px;
  color: black;
}

.featured-product-menu li a:hover {
  text-decoration: underline;
}

.slick-slider {
  max-width: 840px;
}

.product-slider1 .slick-slider {
  max-width: 840px;
}

.product-slider2 .slick-slider {
  max-width: 840px;
}

.product-slider3 .slick-slider {
  max-width: 840px;
}

.product-slider4 .slick-slider {
  max-width: 840px;
}

.product-preview .slick-slider {
  max-width: 500px;
}

@media (max-width: 600px) {
  .featured-holder {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .slick-slider, .product-slider1 .slick-slider, .product-slider2 .slick-slider, .product-slider3 .slick-slider,
  .product-slider2 .slick-slider {
    max-width: 800px;
  }
}

@media (max-width: 640px) {
  .slick-slider, .product-slider1 .slick-slider, .product-slider2 .slick-slider, .product-slider3 .slick-slider,
  .product-slider2 .slick-slider {
    max-width: 282px;
  }
}


@media (max-width: 1050px) {
  .featured-holder {
 flex-wrap: wrap;
  }
}

.featured-product-bloc .featured-holder {
  display: flex;
justify-content: flex-start;
  }

@media (max-width: 553px) {
  .featured-product-menu {
    margin-bottom: 20px;
  }

  .featured-product-menu {
    padding-left: 14px;
  }
}

@media (max-width: 1084px) {
  .featured-product-menu {
    border: 1px solid #cccccc;
  }

  .featured-products-list {
    border: 1px solid #cccccc;
  }
}*/










/*-----------new styles--------*/
a {
  display: block;
}
/*-----top opis-----*/
.opis_cont {
  margin-top: 20px;
}
.opis_img > img {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.opis_text {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*-----cont-----*/
.cont {
  max-width: 1127px;
  margin: auto;
}
.contein_conten {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 5px;
  margin-left: 5px;
}
.contein_conten > h2 {
  font-size: 27px;
  width: auto;
}
/*--------slider--------*/
.sitbar {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 24px;
  padding: 20px;
  background-color: #fff;
  margin-left: 5px;
}
.sitbar > ul {
  margin: 0;
  padding: 0;
}
.sitbar > ul > li {
  margin-bottom: 8px;
}
.sitbar > ul > li > a {
  color: #000;
  position: relative;
  line-height: 17px;
  transition: 0.5s;
}
.sitbar > ul > li > a:hover {
  text-decoration: none;
  color: #2E5C5C;
}
.sitbar > ul > li > a:after {
  content: '';
  width: 0%;
  height: 1px;
  background-color: #2E5C5C;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}
.sitbar > ul > li > a:hover:after {
  width: 92%;
}
/*--slid---*/
.slider_slick {
  background-color: #fff;
}
.slid_slick {
  border: 1px solid #eee;
  transition: 0.5s;
}
.slid_slick:hover{
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.slid_slick_img {
  width: 100%;
}
.slid_slick_img > img {
  width: 100%;
}
.slid_slick > a {
  margin-left: 15px;
  margin-top: 5px;
}
.slid_slick > h1 {
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: -3px;
  font-weight: bold;
  font-size: 25px;
}
.slid_slick > p {
  display: block;
  margin-left: 15px;
  margin-bottom: 30px;
}
.slid_slick > button {
  display: block;
  margin: auto;
  padding: 7px 50px 7px 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #336633;
  color: #fff;
  margin-bottom: 15px;
  transition: 0.5s;
}
.slid_slick > button:hover {
  background-color: #274F27;
}
/*slick button*/
/*-----media-----*/
@media screen and (max-width: 767px) {
  .contein_conten > h2 {
    text-align: center;
  }
}