/*.product-category-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 105px;
}
.header-product p {
  font-size: 24px;
  font-weight: bold;
}

.product-category-header a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 20px 20px;
  text-align: center;
  font-size: 18px;
}

.product-grid-catedoriya {
  display: flex;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: -80px;
}

.product-grid-catedoriya .featured-product-menu {
  border: none;
  min-width: 280px;
}

.product-category-img {
  width: 280px;
  height: 200px;
  display: block;
}

.filter-price {

}
 
#slider {
  width: 100%;
}

.ui-slider {
  position: relative;
}

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 20px; 
  height: 20px;
  background: #476736;
  border-radius: 50%;
  background: url("images styles/icon-slide.png") no-repeat;
  cursor: pointer;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}


.ui-slider-horizontal {
  height: 4px; 
}


.ui-slider-horizontal .ui-slider-handle {
  top: -8px;
  margin-left: -6px;
  outline: none;
}

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
  outline: none;
}

.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

.ui-widget-content {
  border: 1px solid #D4D4D4;
  background: #ffffff;
}

.ui-widget-header {
  border: 1px solid #D4D4D4;
  background: #476736;
  outline: none;
}
.wrapper {
  position: relative;
}
#minCost {
  width: 127px;
  height: 38px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  margin-right: -10px;
  position: relative;
}

.slider-range {
  position: relative;
}

.val {
  position: absolute;
  bottom: 42%;
  left: 29%;
}
.val1 {
  position: absolute;
  bottom: 42%;
  left: 78%;
}
#maxCost {
  width: 127px;
  text-align: center;
  font-weight: bold;
  height: 38px;
  border: 1px solid black;
}

label {
  display: block;
  font-size: 13px;
}

.header-product-sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-product-sort h3 {
  margin-right: 15px;
}

.header-product-sort li {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid grey;
  margin-right: -5px;
  font-size: 16px;
  line-height: 1.2;
}

a.knopka {
  color: black;
  text-decoration: none;
  user-select: none;
  background: white;
  padding: 0 10px;
  font-size: 16px;
}

a.knopka:hover {
  background: #b1b1b1;
  text-decoration: none;
}

a.knopka:active {
  background: #b1b1b1);
}

a.knopka:visited {
  background: #b1b1b1);
}

.filtr .product-grid-catedoriya {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: -80px;
}

.filtr .featured-holder {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 1125px) {
  .filtr .featured-holder {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
  }
}

@media (max-width: 400px) {
  .filtr .featured-holder {
    display: flex;
    justify-content: center;
  }

  .header-catalog h1 {
    font-size: 24px;
  }
  .header-product-sort {
   flex-wrap: wrap;
    justify-content: center;
    padding-left: 25px;
  }
  .featured-product-bloc {
    width: 280px;
  }
}
@media (max-width: 320px) {
    .header-product-sort {
    flex-wrap: wrap;
    justify-content: center;
      padding-right: 20px;
      }
  }*/