.inner-product-wrap {
  max-width: 1050px;
  margin: auto;
}
.product-wrap {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*------product-img----*/
.product-img {
  border-right: 5px solid #EBEBEB;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-img > img {
  width: 80%;
  margin-top: -20px;
}
/**/
.product-conteiner {
  width: 60%;
}
/*--product-head--*/
.product-head {
  padding-right: 15px;
  padding-left: 15px;
}
.product-head > h1 {
  font-weight: bold;
}
/*--product-details--*/
.product-details {
  display: flex;
  flex-wrap: wrap;
}
.sale-one-click {
  flex-grow: 1;
  flex-basis: 235px;
  padding-left: 15px;
}
.sale-one-click > h2 {
  font-weight: bold;
  font-size: 25px;
}
.sale-one-click > p {
  font-weight: bold;
}
.form-product {
  display: flex;
}
.form-product > input {
  width: 70%;
  border: none;
  border: 1px solid #F1F1F1;
  border-top: 2px solid #F1F1F1;
  border-radius: 5px;
  padding-right: 10px;
  padding-left: 10px;
  height: 35px;
  outline: none;
  transition: 0.3s;
}
.form-product > input:focus {
  border: 1px solid #306030;
}
.form-product > button {
  display: block;
  width: 35px;
  height: 35px;
  margin-top: 0px;
  margin-left: -15px;
  background-color: #336633;
  color: #fff;
  font-size: 25px;
  border: none;
  border-radius: 5px;
}
/**/
.sale {
  flex-grow: 1;
  flex-basis: 235px;
  padding-right: 15px;
  padding-left: 15px;
}
.sale > h4 {
  font-weight: bold;
  padding-top: 10px;
}
.sale > h3 {
  font-weight: bold;
  margin-bottom: 25px;
}
.sale > button {
  display: block;
  width: 100%;
  margin: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #336633;
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  transition: 0.5s;
}
/*----yslov----*/
.yslov {
  float: right;
  margin-right: 15px;
}
/*--product-text--*/
.product-text {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #EBEBEB;
}
/*--product-details2--*/
.product-details2 {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-right: 20px;
}
.add-service {
  background-image: url(../images/add-service.png);
  background-position: center center;
  background-repeat: no-repeat;
  width: 174px;
  height: 58px;
  margin-left: 20px;
}
.product-det2 {
  display: flex;
}
.product-det2 > ul {

}
.product-det2 > ul > li {
  margin-bottom: 2px;
}
/*------slider-------*/
.product-slider {
  margin-bottom: 10px;
}
.product-slid {
  width: 100%;
  border-right: 1px solid #EEEEEE;
}
.product-slid-img > a > img {
  width: 100%;
}
/**/
.product-conteiner-slick {
  background-color: #fff;
}
.product-slid-text > a {
  margin-left: 15px;
  margin-right: 15px;
}
.product-slid-text > h3 {
  font-weight: bold;
  margin-bottom: -4px;
  margin-left: 15px;
  margin-right: 15px;
}
.product-slid-text > p {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.product-slid-text > button {
  display: block;
  margin: auto;
  padding: 7px 50px 7px 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #336633;
  color: #fff;
  margin-bottom: 15px;
  transition: 0.5s;
}
/****************/
@media screen and (max-width: 800px) {
  .product-wrap {
    margin-left: 5px;
  }
  .form-product > input {
    width: 92%;
  }
  /*product-details2*/
  .product-details2 {
    flex-direction: column;
  }
  .add-service {
    margin: auto;
    margin-bottom: 10px;
  }
  .product-det2 {
    margin: auto;
  }
}
@media screen and (max-width: 640px) {
  .product-wrap {
    flex-direction: column;
  }
  /**/
  .product-img {
    width: 100%;
  }
  .product-img > img {
    width: 100%;
    margin-top: 20px;
  }
  .product-conteiner {
    width: 100%;
  }
  /**/
  .product-details2 {
    flex-direction: row;
  }
}
@media screen and (max-width: 570px) {
  .product-details2 {
    flex-direction: column;
  }
}