@import "index.css";
@import "shop-grid.css";
@import "product-grid.css";
@import "services.css";
@import "recomendations.css";
@import "about-us.css";
@import "footer.css";
@import "article.css";
@import "about.css";
@import "article_catalog.css";
@import "product-categoriya.css";
@import "product-detail.css";
@import "koshik.css";
@import "form-zakaz.css";
@import "katalog-menu.css";
@import "button.css";

html {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

body {
  min-width: 320px;
  background-color: #ebebeb;
}
.s-block {
  background-color: #ebebeb;
  height: 65px;
}

  .container {
  max-width: 1127px;
  padding: 0 0;
  margin: 0 auto;
}

.page-body {
  max-width: 1127px;
  margin: 0 auto;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.clearfix:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.header-catalog {
  background-image: url("../images/bg-catalog.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 215px;
}

.header-catalog h1 {
  color: white;
  font-size: 36px;
  margin: 0 0;
  padding-left: 20px;
  padding-top: 70px;
}

@media (max-width: 400px) {
  .header-catalog h1 {
    font-size: 23px;
  }
}
